services:
  rabbitmq:
      container_name: rabbitmq
      image: rabbitmq:management
      ports:
        - 5672:5672
        - 15672:15672
      volumes:
        - ./definitions.json:/etc/rabbitmq/definitions.json:ro
        - ./rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
        - rabbitmq_data:/var/lib/rabbitmq
      environment:
        RABBITMQ_DEFAULT_USER: admin
        RABBITMQ_DEFAULT_PASS: admin
      healthcheck:
        test: rabbitmq-diagnostics -q ping
        interval: 10s
        timeout: 30s
        retries: 3
      networks:
        - backend
  krakend_ce:
      image: devopsfaith/krakend:watch
      volumes:
        - ./config/krakend:/etc/krakend
      ports:
        - "1234:1234"
        - "8080:8080"
        - "8090:8090"
      command: ["run", "-d", "-c", "/etc/krakend/krakend.json"]
      depends_on:
        - fake_api
        - jaeger
  jaeger:
    image: jaegertracing/all-in-one:1
    ports:
      - "16686:16686"
      - "14268:14268"
  fake_api:
      image: busybox:latest
      volumes:
        - ./data:/var/www/
      ports:
        - "8000:80"
      command: httpd -f -h /var/www/
  database:
    image: postgres:16
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend
  user:
    build:
      context: ./user
      dockerfile: Dockerfile
    ports:
      - "8888:8888"
    environment:
      - DB_HOST=database
      - SPRING_RABBITMQ_HOST=rabbitmq
      - SPRING_RABBITMQ_PORT=5672
      - SPRING_RABBITMQ_USERNAME=admin
      - SPRING_RABBITMQ_PASSWORD=admin
    depends_on:
      rabbitmq:
        condition: service_healthy
    restart: on-failure
    networks:
      - backend

volumes:
  rabbitmq_data:
  postgres_data:

networks:
  backend:
    driver: bridge
