services:
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:management
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - ./definitions.json:/etc/rabbitmq/definitions.json:ro
      - ./rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
      - rabbitmq_data:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 30s
      retries: 3
    networks:
      - backend
    krakend_ce:
        image: devopsfaith/krakend:watch
        volumes:
          - ./config/krakend:/etc/krakend
        ports:
          - "1234:1234"
          - "8080:8080"
          - "8090:8090"
        command: ["run", "-d", "-c", "/etc/krakend/krakend.json"]
        depends_on:
          - fake_api
          - jaeger
    postgres:
      image: postgres:16
      container_name: postgres_db
      environment:
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: secure_password
        POSTGRES_DB: myapp
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data
      restart: unless-stopped

volumes:
  postgres_data:
